.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background: rgb(73,79,82);
  color: whitesmoke;
}
.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

table , tbody , thead {
  border: 1px solid black;
  border-collapse: collapse;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
}